html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.login-container{
  margin-top:5%;
  align-items: center !important;
  justify-content: center !important;
  justify-self: center !important;
  justify-items: center !important;
  text-align: center !important;  
  width: 50%;
  margin-left : 25%
}

form{
  margin-left: 100px;
}